{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Yarnsie</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-pink-100 flex flex-col items-center justify-center">
  <!-- Main Container for the Info Cards -->
  <div class="p-2 mb-6 relative w-full max-w-5xl">
    <div class="relative grid grid-cols-1 z-30 md:grid-cols-3 gap-8 justify-center">
      {% include "card_info.html" with title='Name' value=name %}
      {% include "card_info.html" with title='Npm' value=npm %}
      {% include "card_info.html" with title='Class' value=class %}
    </div>
  </div>

  <!-- Last Login Section -->
  <div class="px-3 mb-4 flex justify-center w-full">
    <div class="flex rounded-md items-center bg-pink-400 py-2 px-4 w-fit shadow-md hover:shadow-lg transition duration-300 ease-in-out">
      <h1 class="text-white text-center font-bold text-lg">Last Login: {{ last_login }}</h1>
    </div>
  </div>
</div>

{% endblock content %}
